@font-face {
    font-family: "Inika-Regular";
    src: url("/home/pipi-pupu/Desktop/webdictofonocrv/Inika-Regular.ttf") format(truetype);
    font-style: normal;
    font-weight: normal;
}
html{
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.Rectangle_6{
    position: absolute;
    width: 285px;
    height: 80%;
    left: 100px;
    top: 90px;

    background: #FFFFFF;
    border-radius: 20px;
}
.instruction{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    text-align: center;

    color: #000000;
}
.instruction_text{
    overflow: auto;
    height: 70%;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: auto;
    line-height: 31px;
    text-align: center;
    word-wrap: break-word;

    margin-left: 3vh;
    margin-right: 3vh;
    margin-bottom: auto;
    color: #000000;
}

.frame{
    box-sizing: border-box;

    position: absolute;
    width: 55%;
    height: 80%;
    left: 434px;
    top: 90px;

    border: 6px solid rgba(255, 255, 255, 0.85);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
}
.frame_title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    text-align: center;

    color: #FFFFFF;
}
.frame_text{
    overflow: auto;

    position: absolute;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;

    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 10%;
    
    width: 94%;
    height: 60%;

    word-wrap: break-word;
    background: #F1F1F1;
    opacity: 0.95;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.font_size{
    display: flex;
    position: absolute;
    right: 5%;
    top: 5%;
    width: 13%;
    height: 8%;

    background: #FFFFFF;
    opacity: 0.8;
    border-radius: 15px;

    word-wrap: break-word;
    justify-content: center;
    align-items: center;
    
}
.font_size_text{
    margin-right: 1vh;
    font-size: medium;
    font-family: "Roboto", sans-serif;

    text-align: center;    
    word-wrap: break-word;
}
.font_size_cipher{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto';
    font-size: large;
    
    word-wrap: break-word;
    text-align: center;

    background: #FFFFFF;
    

    color: black;


}
.button_delete{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 5%;
    left: 5%;

    height: 13%;
    width: 10%;

    background: #FFFFFF;
    border-radius: 15px;
}
.button_play{
    position: absolute;
    bottom: 5%;
    left: 25%;

    display: flex;
    justify-content: center;
    align-items: center;

    
    opacity: 0.8;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}
.button_pause{
    position: absolute;
    bottom: 5%;
    right: 25%;

    display: flex;
    justify-content: center;
    align-items: center;

    
    opacity: 0.8;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}
.button_send{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 5%;
    right: 5%;

    height: 13%;
    width: 10%;

    background: #FFFFFF;
    border-radius: 15px;
}